#sub-container {
    margin-left: 150px;
    margin-right: 150px;
}


#header {
    background-color: #007FFF;
    margin-top: -30px;
    font-size: 30px;
    padding:1%;
    text-align: center;
    color:white;
    font-family: monospace;


}

#header h3 {
    
}

#search-input {
    width: 83%;
    height:25px;

}

#search-container {
   
}

#btn{
    height:32px;
    background-color: red;
    color:white;
    border-radius: 5px;
}

body{
    background-color: #F5F5F5;
}

.hide {
    display:none;
}

#no-result{
    color:red;
}